.app{
  margin-left: 30px;
}
.links{
  margin-right: 46px;
}
.login{
  margin-right: 17px;
}
.loginhe{
  justify-content: center;
  /* margin-right: -20px; */
  display: flex;
}
form.loginhe{
  margin-top: 40px;
}
.space{
  margin-top: 80px;
  display: flex;
  justify-content: center;
  margin-left: -173px;
}
#buttonn{
  margin-top: 160px;
  display: flex;
  margin-left: -86px
}
#span{
  margin-left: -40px;
}
.todo{
  max-width: 270px;
  justify-content: center;
  display: flex;
  margin-left: 580px;
}
Button#btnnn{
  margin-top: 140px;
  display: flex;
  margin-right: -100px;
  justify-content: center;
}

h1.todo{
  font-size: 46px;
  margin-left: 665px;
}
#btnkidiv{
  margin-left: -20px;
}
ul{
  margin-top: 75px;
  margin-left: -250px;
  text-align: left;
  justify-items: left;
  font-size: 28px;
}
#spannn{
  /* display: none; */
  color: white;
}
#spannn:hover{
  color: red;
  
  cursor: pointer;
}
